.banner {
  @include bg("./../images/mountain.jpeg");
  height: calc(100vh - var(--header-height));
  &__title {
    width: 100%;
    font-weight: 300px;
    max-width: 720px;
    text-transform: capitalize;
    color: $content-color;
  }

  &__play {
    margin-top: 50px;
    svg {
      fill: $content-color;
      &:hover {
        fill: $sunshine-color;
      }
    }
  }

  &__button {
    margin-top: 50px;
    a {
      background-color: $background-button;
      &:hover {
        background-color: $sunshine-color;
      }
    }
  }
}
