:root {
  --header-height: 75px;
}

$content-width: 1250px;
$content-x-padding: 15px;
$main-font: "Encode Sans Semi Condensed", sans-serif;

$breackpoint_sm: 576px;
$breackpoint_md: 767px;
$breackpoint_xl: 1024px;
$breackpoint_xxl: 1250px;

$content-color: #ffffff;
$background-button: #ff8000;
$menu-color: #824e1a;
$sunshine-color: #fad6a5;
